# IDE 관련
.idea/
*.iml

# Gradle 관련
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# OS 불필요 파일
*.DS_Store
Thumbs.db

# 환경 설정 파일
*.env
application.yml

# 로그
*.log

# 테스트 결과 리포트
/test-output/

# 기타
*.class
*.jar
*.war
*.ear
